@use "../../scss/variables";

.container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

@mixin button($color: variables.$black) {
  padding: 3px 9px;
  border: 2px solid $color;
  border-radius: 8px;
  transition: all variables.$duration ease-in-out;
  color: variables.$black;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

.nextPreviousLink,
.pageLink {
  @include button();
}

.activeLink {
  @include button(variables.$orange);
  color: variables.$orange;
}
